body {
    background: #111;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    touch-action: none;
}

canvas {
    background: #000;
    border: 2px solid #fff;
    display: block;
    margin: 10px auto;
    touch-action: none;
}

button {
    padding: 8px 16px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
}

.death {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle, #020617, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #22d3ee;
    text-shadow: 0 0 20px #22d3ee;
    font-size: 2rem;
    z-index: 999;
}

.death h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

#deathScreen button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background: black;
    color: #22d3ee;
    box-shadow: 0 0 20px #22d3ee;
    border: 2px solid #22d3ee;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 20px;
}

.game-buttons {
    display: flex;
    gap: 14px;
}

.mobile-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.mobile-controls button {
    width: 56px;
    height: 56px;
    font-size: 22px;
    border-radius: 12px;
    border: none;
    background: rgba(0, 255, 0, 0.15);
    color: #00ff00;
    box-shadow: 0 0 15px #00ff00;
    touch-action: none;
}

.mobile-controls .middle {
    display: flex;
    gap: 40px;
}

.mobile-controls button:active {
    transform: scale(0.9);
    background: rgba(0, 255, 0, 0.3);
}

@media (max-width: 768px) {
    .mobile-controls{
        display: flex;
    }
}